:global {
    // global style here
    .logo-spin {
        animation: App-logo-spin infinite 3s linear;
    }

    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @media all and (min-width: 480px) {
        .Login {
          padding: 60px 0;
        }
      
        .Login form {
          margin: 0 auto;
          max-width: 320px;
        }
      }

}
